.about-section {
  padding: 20px;
  animation-name: fadeIn4;
  animation-duration: 1s;
  background: var(--lgreen);
}

.about-title {
  font-size: 2rem;
  margin-bottom: 20px;
  font-family: var(--mont);
  color: var(--accent);
}

.about-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.about-image {
  width: 400px;
  height: auto;
  margin: 20px;
  transition: transform 0.2s;
  border-radius: 10px;
}

.about-image:hover {
  transform: scale(1.02);
}

.details-title,
.story-title,
.skills-title {
  font-size: 1.5rem;
  margin-top: 20px;
  color: var(--accent);
  font-family: var(--mont);
}

.details-info,
.story-text {
  margin: 10px 0;
  font-family: var(--sans);
  color: var(--dgreen);
  line-height: 2.2;
}

.story-links {
  margin-top: 10px;
  color: var(--dgreen);
}

.story-links a {
  color: var(--accent);
  text-decoration: none;
  transition: color 0.2s;
}

.story-links a:hover {
  color: var(--dgreen);
}

.about-skills {
  width: 100%;
}

.skills-list {
  list-style: square inside none;
  font-family: var(--robo);
  color: var(--dgreen);
  display: initial;
}

.port-links {
  color: var(--accent);
}
.port-links:hover {
  color: var(--dgreen);
}

@keyframes fadeIn4 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .about-content {
    flex-direction: column;
    align-items: center;
  }

  .about-image {
    width: 100%;
    margin: 0;
  }

  .details-title,
  .story-title,
  .skills-title {
    text-align: center;
  }
}
