.essay-section {
  background-color: var(--lgreen);
  padding: 20px;
}

.section-title {
  color: var(--accent);
  font-size: 2em;
  text-align: left;
  margin-bottom: 20px;
  font-family: var(--mont);
}

.essay-nav {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.essay-nav button {
  background: none;
  border: none;
  color: var(--dgreen);
  font-size: 1.2rem;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  font-family: var(--robo);
  margin-left: 30px;
}

.essay-nav button:hover {
  color: var(--accent);
}

.essay-nav .selected-essay {
  text-decoration: underline;
  text-underline-offset: 3px;
}

.essay-content {
  margin-top: 20px;
  animation: slideIn3 0.5s ease;
}

@keyframes slideIn3 {
  0% {
      transform: translateY(-25%);
      opacity: 0;
  }
  100% {
      transform: translateY(0);
      opacity: 1;
  }
}

@media (max-width: 1024px) {
  .essay-nav button {
      font-size: 1rem;
  }

  .essay-section {
      padding: 20px 10px;
  }
}

@media (max-width: 767px) {
  .section-title {
    text-align: center;
  }
  
  .essay-nav {
      flex-direction: column;
      align-items: center;
      gap: 10px;
  }

  .essay-nav button {
      font-size: 0.9rem;
      margin-left: 0;
  }

  .essay-section {
      padding: 10px 5px;
  }
}