.header {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    background-color: var(--dgreen);
    font-family: var(--sans);
    transition: all 0.3s ease;
}

.header-title, .header-subtitle {
    color: var(--lgreen);
    font-family: var(--mont);
    transition: color 0.3s ease;
}

.header-title {
    font-size: 2rem;
    margin: 0;
    animation: slideIn 2s ease;
    letter-spacing: .1rem;
}

.header-subtitle {
    font-size: .8rem;
    margin: 0 0 0 .2rem;
    opacity: 0;
    animation: slideIn 2s ease 2s forwards;
    font-family: var(--robo);
    letter-spacing: .05rem;
}

.header-nav {
    display: flex;
    gap: 20px;
}

.nav-link {
    text-decoration: none;
    color: var(--lgreen);
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: var(--accent);
}

.nav-link.active {
  color: var(--accent);
}

@keyframes slideIn {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@media (max-width: 1024px) {
  .header {
    padding: 20px 30px;
  }

  .header-title {
    font-size: 1.5rem;
    letter-spacing: .08rem;
  }

  .header-subtitle {
    font-size: .7rem;
    letter-spacing: .04rem;
  }

  .nav-link {
    font-size: 1rem;
  }
}

@media (max-width: 767px) {
  .header {
    padding: 10px 20px;
  }

  .header-title {
    font-size: 1.2rem;
    letter-spacing: .06rem;
  }

  .header-subtitle {
    font-size: .6rem;
    letter-spacing: .03rem;
  }

  .nav-link {
    font-size: .9rem;
  }
}

@media (max-width: 600px) {
  .header-nav {
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
  }
}